.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.form input {
    width: 30%;
}

.form button {
    display: inline-block;
    margin-right: 10px;
}
